/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen { zmk,physical-layout = &five_col_layout; };
};

/ {
    behaviors {
        number_1_tilde: number_1_tilde {
            compatible = "zmk,behavior-mod-morph";
            label = "NUMBER_1_TILDE";
            bindings = <&kp KP_NUMBER_1>, <&kp TILDE>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        number_2_and: number_2_and {
            compatible = "zmk,behavior-mod-morph";
            label = "NUMBER_2_AND";
            bindings = <&kp KP_NUMBER_2>, <&kp AMPS>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        number_3_dollar: number_3_dollar {
            compatible = "zmk,behavior-mod-morph";
            label = "NUMBER_3_DOLLAR";
            bindings = <&kp KP_NUMBER_3>, <&kp DOLLAR>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        number_5_oe: number_5_oe {
            compatible = "zmk,behavior-mod-morph";
            label = "NUMBER_5_OE";
            bindings = <&kp KP_NUMBER_5>, <&kp DOLLAR>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        number_4_euro: number_4_euro {
            compatible = "zmk,behavior-mod-morph";
            label = "NUMBER_4_EURO";
            bindings = <&kp KP_NUMBER_4>, <&kp DOLLAR>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // ------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |  MUTE |  PP   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |  LALT |  RALT |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /  |
            //                    | GUI | LWR | SPC |               | ENT | RSE  | ALT |

            bindings = <
  &kp Q  &kp W    &kp E             &kp R  &kp T      &kp BACKSPACE  &mt K_MUTE PRINTSCREEN  &kp Y    &kp U  &kp I         &kp O    &kp P
  &kp A  &lt 3 S  &kp D             &kp F  &kp G      &kp ENTER      &msc SCRL_UP            &kp H    &kp J  &kp K         &kp L    &kp RIGHT_SHIFT
  &kp Z  &kp X    &kp C             &kp V  &kp B                                             &kp N    &kp M  &kp COMMA     &kp DOT  &kp RIGHT_ALT
                  &kp LEFT_CONTROL  &mo 1  &kp SPACE                                         &kp TAB  &mo 2  &kp LEFT_GUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_BRI_DN C_BRI_UP>;
        };

        lower_layer {
            display-name = "NUMBER";

            // --------------------------------------------------------------------------------
            // |  1  |  2  |  3  |  4  |  5    |  LCTRL | RCTRL |  6  |  7  |  8  |  9  |  0  |
            // | BT1 | BT2 | BT3 | BT4 | BT5   |  LALT  | RALT  | LFT | DWN |  UP | RGT |     |
            // | BTCR| RGB | RST | BOOT| Unlock|        |       |     |     |     |     |     |
            //                    | GUI |     | SPC   |        | ENT   |     | ALT |

            bindings = <
  &kp PERCENT  &trans    &kp UP_ARROW      &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp BACKSPACE  &kp K_MUTE  &kp ESCAPE  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9   &kp DELETE
  &trans       &kp LEFT  &kp DOWN_ARROW    &kp RIGHT             &kp AT_SIGN            &kp ENTER      &trans      &kp HOME    &number_4_euro   &number_5_oe     &kp KP_NUMBER_6   &kp RSHFT
  &trans       &trans    &trans            &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS                             &kp END     &number_1_tilde  &number_2_and    &number_3_dollar  &kp RIGHT_ALT
                         &kp LEFT_CONTROL  &trans                &kp SPACE                                         &kp TAB     &trans           &kp KP_NUMBER_0
            >;
        };

        raise_layer {
            display-name = "SYMBOL";

            // -----------------------------------------------------------------------------
            // |  !  |  @  |  #  |  $  |  %  | LCTRL | RCTRL |  ^  |  &  |  *  |  (  |  )  |
            // |     |     |     |     |     |  LALT | RALT  |  -  |  =  |  [  |  ]  |  \  |
            // |     |     |     |     |     |               |  _  |  +  |  {  |  }  | "|" |
            //                    | GUI |     | SPC |               | ENT |     | ALT |

            bindings = <
  &kp EXCLAMATION  &kp QUESTION    &kp UP_ARROW      &kp POUND             &kp MINUS              &kp BACKSPACE  &trans  &kp F1   &kp F2   &kp F3        &kp F4   &trans
  &kp BACKSLASH    &kp LEFT_ARROW  &kp DOWN          &kp RIGHT             &kp EQUAL              &kp ENTER      &trans  &kp F5   &kp F6   &kp F7        &kp F8   &kp RIGHT_SHIFT
  &kp KP_DIVIDE    &kp ASTRK       &kp SINGLE_QUOTE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS                         &kp F9   &kp F10  &kp F11       &kp F12  &kp RIGHT_ALT
                                   &kp RCTRL         &trans                &kp SPACE                                     &kp TAB  &trans   &kp LEFT_GUI
            >;
        };

        settings {
            display-name = "settings";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans           &kp K_POWER     &trans      &bl BL_TOG                         &bl BL_CYCLE                     &rgb_ug RGB_EFF
  &trans  &trans  &trans  &trans  &trans  &trans  &rgb_ug RGB_EFF  &bt BT_PRV      &bt BT_NXT  &rgb_ug RGB_COLOR_HSB(57,90,62)    &rgb_ug RGB_COLOR_HSB(0,100,51)  &trans
  &trans  &trans  &trans  &trans  &trans                           &bt BT_CLR_ALL  &bt BT_CLR  &rgb_ug RGB_COLOR_HSB(269,100,46)  &trans                           &trans
                  &trans  &trans  &trans                           &trans          &trans      &trans
            >;
        };

        extra_layer_2 {
            display-name = "EXTRA 2";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_3 {
            display-name = "EXTRA 3";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_4 {
            display-name = "EXTRA 4";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_5 {
            display-name = "EXTRA 5";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_6 {
            display-name = "EXTRA 6";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };
    };
};
