/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen { zmk,physical-layout = &five_col_layout; };
};

/ {
    behaviors {
        number_1_tilde: number_1_tilde {
            compatible = "zmk,behavior-mod-morph";
            label = "NUMBER_1_TILDE";
            bindings = <&kp KP_NUMBER_1>, <&kp TILDE>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        number_2_and: number_2_and {
            compatible = "zmk,behavior-mod-morph";
            label = "NUMBER_2_AND";
            bindings = <&kp KP_NUMBER_2>, <&kp AMPS>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        number_3_dollar: number_3_dollar {
            compatible = "zmk,behavior-mod-morph";
            label = "NUMBER_3_DOLLAR";
            bindings = <&kp KP_NUMBER_3>, <&kp DOLLAR>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        number_5_oe: number_5_oe {
            compatible = "zmk,behavior-mod-morph";
            label = "NUMBER_5_OE";
            bindings = <&kp KP_NUMBER_5>, <&oe>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        number_4_euro: number_4_euro {
            compatible = "zmk,behavior-mod-morph";
            label = "NUMBER_4_EURO";
            bindings = <&kp KP_NUMBER_4>, <&euro_sign>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        number_6_ue: number_6_ue {
            compatible = "zmk,behavior-mod-morph";
            label = "NUMBER_6_UE";
            bindings = <&kp KP_NUMBER_6>, <&ue>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        number_7_ae: number_7_ae {
            compatible = "zmk,behavior-mod-morph";
            label = "NUMBER_7_AE";
            bindings = <&kp KP_NUMBER_7>, <&ae>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        number_8_ss: number_8_ss {
            compatible = "zmk,behavior-mod-morph";
            label = "NUMBER_8_SS";
            bindings = <&kp KP_NUMBER_8>, <&ss>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        number_9_pipe: number_9_pipe {
            compatible = "zmk,behavior-mod-morph";
            label = "NUMBER_9_PIPE";
            bindings = <&kp KP_NUMBER_9>, <&kp PIPE>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        rot_mouse_scroll: rot_mouse_scroll {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ROT_MOUSE_SCROLL";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;
        };

        rot_page: rot_page {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ROT_PAGE";
            #sensor-binding-cells = <0>;
            bindings = <&kp PAGE_DOWN>, <&kp PAGE_UP>;
        };

        rot_volume: rot_volume {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ROT_VOLUME";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOLUME_UP>, <&kp C_VOL_DN>;
        };

        rot_rgb: rot_rgb {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ROT_RGB";
            #sensor-binding-cells = <0>;
            bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
        };
    };

    macros {
        ue: ue {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RIGHT_ALT>,
                <&macro_tap>,
                <&kp Y>,
                <&macro_release>,
                <&kp RIGHT_ALT>;

            label = "UE";
        };

        oe: oe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RIGHT_ALT>,
                <&macro_tap>,
                <&kp P>,
                <&macro_release>,
                <&kp RIGHT_ALT>;

            label = "OE";
        };

        ae: ae {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RIGHT_ALT>,
                <&macro_tap>,
                <&kp Q>,
                <&macro_release>,
                <&kp RIGHT_ALT>;

            label = "AE";
        };

        ss: ss {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RIGHT_ALT>,
                <&macro_tap>,
                <&kp S>,
                <&macro_release>,
                <&kp RIGHT_ALT>;

            label = "SS";
        };

        euro_sign: euro_sign {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RIGHT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_5>,
                <&macro_release>,
                <&kp RIGHT_ALT>;

            label = "EURO_SIGN";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // ------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |  MUTE |  PP   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |  LALT |  RALT |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /  |
            //                    | GUI | LWR | SPC |               | ENT | RSE  | ALT |

            bindings = <
  &kp Q  &kp W    &kp E             &kp R  &kp T      &kp BACKSPACE  &mt K_MUTE PRINTSCREEN  &kp Y      &kp U  &kp I         &kp O    &kp P
  &kp A  &lt 3 S  &kp D             &kp F  &kp G      &kp TAB        &msc SCRL_UP            &kp H      &kp J  &kp K         &kp L    &kp RIGHT_SHIFT
  &kp Z  &kp X    &kp C             &kp V  &kp B                                             &kp N      &kp M  &kp COMMA     &kp DOT  &kp RIGHT_ALT
                  &kp LEFT_CONTROL  &mo 1  &kp SPACE                                         &kp ENTER  &mo 2  &kp LEFT_GUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_BRI_DN C_BRI_UP>;
        };

        lower_layer {
            display-name = "NUMBER";

            // --------------------------------------------------------------------------------
            // |  1  |  2  |  3  |  4  |  5    |  LCTRL | RCTRL |  6  |  7  |  8  |  9  |  0  |
            // | BT1 | BT2 | BT3 | BT4 | BT5   |  LALT  | RALT  | LFT | DWN |  UP | RGT |     |
            // | BTCR| RGB | RST | BOOT| Unlock|        |       |     |     |     |     |     |
            //                    | GUI |     | SPC   |        | ENT   |     | ALT |

            bindings = <
  &kp PERCENT  &trans    &kp UP_ARROW    &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans  &kp K_MUTE  &kp ESCAPE  &number_7_ae     &number_8_ss     &number_9_pipe    &kp DELETE
  &kp SEMI     &kp LEFT  &kp DOWN_ARROW  &kp RIGHT             &kp AT_SIGN            &trans  &trans      &kp HOME    &number_4_euro   &number_5_oe     &number_6_ue      &trans
  &trans       &trans    &trans          &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS                      &kp END     &number_1_tilde  &number_2_and    &number_3_dollar  &trans
                         &trans          &trans                &trans                                     &trans      &trans           &kp KP_NUMBER_0
            >;
        };

        raise_layer {
            display-name = "SYMBOL";

            // -----------------------------------------------------------------------------
            // |  !  |  @  |  #  |  $  |  %  | LCTRL | RCTRL |  ^  |  &  |  *  |  (  |  )  |
            // |     |     |     |     |     |  LALT | RALT  |  -  |  =  |  [  |  ]  |  \  |
            // |     |     |     |     |     |               |  _  |  +  |  {  |  }  | "|" |
            //                    | GUI |     | SPC |               | ENT |     | ALT |

            bindings = <
  &kp EXCLAMATION  &kp QUESTION    &kp UP_ARROW      &kp POUND             &kp MINUS              &trans  &trans  &kp F1  &kp F2   &kp F3        &kp F4   &trans
  &kp BACKSLASH    &kp LEFT_ARROW  &kp DOWN          &kp RIGHT             &kp EQUAL              &trans  &trans  &kp F5  &kp F6   &kp F7        &kp F8   &trans
  &kp KP_DIVIDE    &kp ASTRK       &kp SINGLE_QUOTE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS                  &kp F9  &kp F10  &kp F11       &kp F12  &trans
                                   &trans            &trans                &trans                                 &trans  &trans   &kp LEFT_GUI
            >;
        };

        settings {
            display-name = "settings";
            bindings = <
  &kp C_POWER  &none  &none  &none  &none  &none  &studio_unlock   &none           &none       &rgb_ug RGB_HUD                    &rgb_ug RGB_HUI                  &rgb_ug RGB_EFF
  &none        &none  &none  &none  &none  &none  &rgb_ug RGB_EFF  &bt BT_PRV      &bt BT_NXT  &rgb_ug RGB_COLOR_HSB(57,90,62)    &rgb_ug RGB_COLOR_HSB(0,100,51)  &rgb_ug RGB_TOG
  &none        &none  &none  &none  &none                          &bt BT_CLR_ALL  &bt BT_CLR  &rgb_ug RGB_COLOR_HSB(269,100,46)  &none                            &none
                      &none  &none  &none                          &none           &none       &none
            >;
        };

        extra_layer_2 {
            display-name = "EXTRA 2";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_3 {
            display-name = "EXTRA 3";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_4 {
            display-name = "EXTRA 4";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_5 {
            display-name = "EXTRA 5";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_6 {
            display-name = "EXTRA 6";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };
    };
};
